* {
    margin: 0%;
}






.data {
    display: flex;
    justify-self: center;
    background-color: #4386f2;
    width: 100%;
    height: 50px;
    justify-content: space-between;









}




div button {

    background-color: #4386f2;
    width: 90px;
    height: 70%;
    margin: 1%;
    margin-top: 8px;
    border-radius: 10px;
    transition: background-color 0.3s color 0.3s;
    justify-content: center;


}

div button a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s color 0.3s;


}

div button a:hover {
    color: #333;
}

div button:hover {
    background-color: rgb(210, 203, 68);
    transition: background-color 0.3s color 0.3s;

}



.box {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgb(12, 12, 12);


}

div ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;

}

diV ul a {
    text-decoration: none;
    color: white;

}

.p {

    background-image: url(https://img.freepik.com/premium-photo/empty-loft-livingroom-penthouse-nymadridlondon-augmented-reality-mockup-pattern-frame_895118-12970.jpg);

    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;

}

div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;


}

div h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

div h2 a {
    background-color: transparent;
    text-decoration: none;
    border: 2PX solid #ffd700;
    padding: 15PX 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5PX;
    transition: background-color 0.3s, color 0.3s;
    justify-content: center;
}

div h2 a:hover {
    background-color: #ffd700;
    color: #333;
}

.c {
    background-image: url(https://img.freepik.com/premium-photo/empty-loft-livingroom-penthouse-nymadridlondon-augmented-reality-mockup-pattern-frame_895118-12942.jpg);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    

    
}
.works {

    color:signature blue;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    
}
.work h1 {
    font-size: 4em;
    margin-bottom: 20px;
    color: signature blue;
}

.work p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.image {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-c {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image-c img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d{
    background-image: url(https://t4.ftcdn.net/jpg/03/08/06/89/360_F_308068997_w419XNhjRrwPGqK6g8aN3HmYUb3JScLF.jpg);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat; 

    
     
}


.social-media {
    text-align: center;
    margin-bottom: 50px;
}

.social-media p {
    font-size: 18px;
    margin-bottom: 10px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.icons img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
}

.about-section {
    text-align: center;
    color: white;
    padding: 10px;
}

.about-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    max-width: 600px;
}
.team-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

